<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap</div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light"
        >Home</a
      ><a
        routerLink="/favorite"
        routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light"
        >Favorite and Custom Pipe</a
      ><a
        routerLink="/new-course"
        routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light"
        >Template Driven Form</a
      ><a
        routerLink="/signup-form"
        routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light"
        >Reactive Form (Signup)</a
      ><a
        routerLink="/change-password"
        routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light"
        >Reactive Form (Change Password)</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
